.container{
    padding:20px;
    font-family: sans-serif;
}
.Post{
    margin:10px 0;
    padding:10px;
    border:1px solid lightgrey;
    border-radius: 6px;
     background-color: #f9f9f9;
}
.post-title {
  color: navy;
  font-weight: 600;
}
.post-body {
  color: #333;
}